[Unit]
Description=Monitor Web App
After=network.target







[Service]
ExecStart=/usr/local/bin/monitor.sh
Restart=always
User=root















[Install]
WantedBy=multi-user.target
